# Python
venv/
__pycache__/
*.pyc

# PyInstaller
build/
dist/
*.spec

# Installer Output
output/
installer/

# Reports
reports/*.txt

# Exports
exports/*.xlsx
exports/*.csv

# IDE
.vscode/
.idea/

# Windows
Thumbs.db
Desktop.ini